<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" shutdownHook="disable">
    <Properties>
        <Property name="sysName">logSys-web</Property>
        <Property name="bizLogLevel">info</Property>
        <Property name="otherLogLevel">info</Property>
        <Property name="logFilePath">c:/tmp/logs</Property>
        <Property name="collectFilePath">c:/tmp/logs/collect</Property>
        <Property name="collectLogFile">logSys_collect</Property>
        <Property name="logSize">500 MB</Property>
        <Property name="maxFile">100</Property>
        <Property name="errorLogFile">${sysName}_err</Property>
        <Property name="bizLogFile">${sysName}_biz</Property>
    </Properties>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout charset="UTF-8"
                    pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] [%X{requestNo}|%X{consumerIp}|%X{sysChannelCode}|%X{localIp}] [%c:%line] - %msg%n"/>
        </Console>
        <RollingFile name="ErrorRollingFile" fileName="${logFilePath}/${errorLogFile}.log"
                     filePattern="${logFilePath}/$${date:yyyy-MM}/${errorLogFile}-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout charset="UTF-8"
                           pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] [%X{requestNo}|%X{consumerIp}|%X{sysChannelCode}|%X{localIp}] [%c:%line] - %msg%n"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="BizRollingFile" fileName="${logFilePath}/${bizLogFile}.log"
                     filePattern="${logFilePath}/$${date:yyyy-MM}/${bizLogFile}-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout charset="UTF-8"
                           pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] [%X{requestNo}|%X{consumerIp}|%X{sysChannelCode}|%X{localIp}] [%c:%line] - %msg%n"/>
            <Filters>
                <ThresholdFilter level="${bizLogLevel}"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="CollectRollingFile" fileName="${collectFilePath}/${collectLogFile}.log"
                     filePattern="${collectFilePath}/${collectLogFile}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="5000 MB"/>
            </Policies>
        </RollingFile>
        <CatAppender name="CatAppender"/>
    </appenders>
    <loggers>
        <logger name="com.logSys.service.impl.Slf4jStoreLog" level="info" additivity="false">
            <appender-ref ref="CollectRollingFile"/>
        </logger>
        <logger name="com.logSys" level="${bizLogLevel}" additivity="false">
            <appender-ref ref="ErrorRollingFile" />
            <appender-ref ref="BizRollingFile"/>
            <appender-ref ref="CatAppender"/>
            <appender-ref ref="Console"/>
        </logger>
        <root level="${otherLogLevel}">
            <appender-ref ref="ErrorRollingFile"/>
            <appender-ref ref="CatAppender"/>
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>